@import './common/variables.scss';
@import './mixins/mixins.scss';

$color-list:(
  primary: $primary,
  success: $success,
  warning: $warning,
  danger: $danger,
  info: $info,
  default: $default
);
$color-active-list:(
  primary: $primary-active,
  success: $success-active,
  warning: $warning-active,
  danger: $danger-active,
  info: $info-active,
  default: $default-active
);

@include blockquote(button) {
  vertical-align: middle;
  cursor: pointer;
  .cqc-icon {
    color: #fff
  }
  @include status($color-list);
  display: inline-flex;
  font-size: $font-size;
  border-radius: $border-radius;
  outline: none;
  padding: 0 10px;
  min-height: 32px;
  border: none;
  color: #fff;
  box-sizing: border-box;
  align-items: center;
  &:active:not(:disabled) {
    transform: translate(1px, 1px);
    box-shadow: none !important;
    @include status($color-active-list)
  }
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  &-default {
    color: $font-color;
    border: 1px solid $border-color;
  }
  &-shadow {
    box-shadow: 3px 3px 6px #dbdbdb;
  }
  .icon-left {
    margin-right: 2px;
  }
  .icon-right {
    margin-left: 2px;
  }
}