$border-radius: 4px;
$font-size: 14px;
$font-color: #606266;
$border-color: #dcdfe6;

$primary: #409EFF;
$success: #67c23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;
$default: #fff;

$primary-hover: #66b1ff;
$success-hover: #85ce61;
$warning-hover: #ebb563;
$danger-hover: #f38989;
$info-hover:  #a6a9ad;

$primary-active: #3a8ee6;
$success-active: #5daf34;
$warning-active: #cf9236;
$danger-active: #dd6161;
$info-active: #82848a;
$default-active: #ebeef5;